In [24]:
name = " Michael Jackson "

In [8]:
# Slicing 1

name [0:3]

'Mic'

In [9]:
# Slicing 2 by 2

name [2:10:2]

'calJ'

In [10]:
# Size of the variable

len(name)

15

In [12]:
# Concatenate Strings

name + " was my favorite singer"

'Michael Jackson was my favorite singer'

In [15]:
# Tupple - Multiply the same string by 3

3 * name

' Michael Jackson  Michael Jackson  Michael Jackson '

In [22]:
# Strings are immutable

In [25]:
name

' Michael Jackson '

In [44]:
# Strings: escape sequences \n represents "enter"

print("Michael Jackson \n is the best")

Michael Jackson
 is the best

In [45]:
# Strings: escape sequences \t represents "tab"

print("Michael Jackson \t is the best")

Michael Jackson 	 is the best

In [47]:
# Strings: escape sequences \\ represents "backslash"

print("Michael Jackson \\ is the best")

Michael Jackson \ is the best

In [49]:
# Strings: escape sequences "r" before the string represents "backslash"

print(r"Michael Jackson \ is the best")

Michael Jackson \ is the best

In [54]:
# Strings Methods: Upper case

A = "michael jackson"
B = A.upper()
B

'MICHAEL JACKSON'

In [55]:
# Strings Methods: Replace string

B = A.replace("michael", "janet")
B

'janet jackson'

In [60]:
# Strings Methods: Find Sub-string and returns the first index 

A.find("mi")

0

In [61]:
# Strings Methods: Find Sub-string and returns the first index 

A.find("jack")

8

In [62]:
# Strings Methods: Find Sub-string but if unexisting it returns -1

A.find("janet")

-1

In [63]:
# Use quotation marks for defining string

"Michael Jackson"

'Michael Jackson'

In [64]:
# Use single quotation marks for defining string

'Michael Jackson'

'Michael Jackson'

In [65]:
# Digitals and spaces in string

'1 2 3 4 5 6 '

'1 2 3 4 5 6 '

In [66]:
# Special characters in string

'@#2_#]&*^%$'

'@#2_#]&*^%$'

In [67]:
# Print the string

print("hello!")

hello!

In [68]:
# Assign string to variable

Name = "Michael Jackson"
Name

'Michael Jackson'

In [70]:
# INDEXING

# Think of a string like an index but the first letter represents "0"

# Print the first element in the string

print(Name[0])

M

In [71]:
# Print the element on index 6 in the string

print(Name[6])

l

In [72]:
# Print the element on the 13th index in the string

print(Name[13])

o

In [73]:
# NEGATIVE INDEXING

# Print the last element in the string

print(Name[-1])

n

In [74]:
# Print the first element in the string

print(Name[-15])

M

In [75]:
# Find the length of string

len("Michael Jackson")

15

In [77]:
# SLICING

# Take the slice on variable Name with only index 0 to index 3

Name[0:4]

'Mich'

In [78]:
# STRIDE

# Get every second element. The elments on index 1, 3, 5 ...

Name[::2]

'McalJcsn'

In [79]:
# Get every second element in the range from index 0 to index 4

Name[0:5:2]

'Mca'

In [81]:
# CONCATENATE STRINGS

# Concatenate two strings

Statement = Name + " is the best"
Statement

'Michael Jackson is the best'

In [83]:
# Print the string for 3 times

3 * " Michael Jackson"

' Michael Jackson Michael Jackson Michael Jackson'

In [84]:
# Concatenate strings

Name = "Michael Jackson"
Name = Name + " is the best"
Name

'Michael Jackson is the best'

In [85]:
# ESCAPE SEQUENCES

# New line escape sequence

print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [86]:
# Tab escape sequence

print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

In [87]:
# Include back slash in string

print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

In [88]:
# r will tell python that string will be display as raw string

print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

In [89]:
# STRING OPERATIONS

# Convert all the characters in string to upper case

A = "Thriller is the sixth studio album"
print("before upper:", A)
B = A.upper()
print("After upper:", B)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [90]:
# Replace the old substring with the new target substring is the segment has been found in the string

A = "Michael Jackson is the best"
B = A.replace('Michael', 'Janet')
B

'Janet Jackson is the best'

In [91]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

Name = "Michael Jackson"
Name.find('el')

5

In [92]:
# Find the substring in the string.

Name.find('Jack')

8

In [93]:
# If cannot find the substring in the string

Name.find('Jasdfasdasdf')

-1

In [5]:
Name

'Michael Jackson'

In [7]:
Name.find('ack')

9

In [8]:
Name.find('l')

6

In [9]:
print(Name[-1])

n