In [4]:
# TUPLES

tuple1 = ('disco', 10, 1.2)
tuple1

('disco', 10, 1.2)

In [5]:
len(tuple1)

3

In [6]:
# Concatenate Tuples

tuple2 = tuple1 + ('Hard Rock', 10)
tuple2

('disco', 10, 1.2, 'Hard Rock', 10)

In [8]:
tuple2[2:4]

(1.2, 'Hard Rock')

In [9]:
len(tuple2)

5

In [10]:
tuple2

('disco', 10, 1.2, 'Hard Rock', 10)

In [11]:
# Create your first tuple

tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

In [12]:
# Print the type of the tuple you created

type(tuple1)

tuple

In [13]:
# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [15]:
# Print the type of value on each index

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))
print(type(tuple1[0]))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'str'>

In [16]:
# Use negative index to get the value of the last element

tuple1[-1]

1.2

In [17]:
# Use negative index to get the value of the second last element

tuple1[-2]

10

In [18]:
# Use negative index to get the value of the third last element

tuple1[-3]

'disco'

In [19]:
# Concatenate two tuples

tuple2 = tuple1 + ('Hard Rock', 10)
tuple2

('disco', 10, 1.2, 'Hard Rock', 10)

In [21]:
# Slice from index 0 to index 2

tuple2[0:3]

('disco', 10, 1.2)

In [22]:
# Slice from index 3 to index 4

tuple2[3:5]

('Hard Rock', 10)

In [23]:
# Get the length of tuple

len(tuple2)

5

In [24]:
# SORTING

# A sample tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [26]:
# Sort the tuple

RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [27]:
# NESTING TUPLE

# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [30]:
# Print element on each index

len(NestedT)

5

In [32]:
print("First element of tuple: ", NestedT[0])
print("First element of tuple: ", NestedT[1])
print("First element of tuple: ", NestedT[2])
print("First element of tuple: ", NestedT[3])
print("First element of tuple: ", NestedT[4])

First element of tuple:  1
First element of tuple:  2
First element of tuple:  ('pop', 'rock')
First element of tuple:  (3, 4)
First element of tuple:  ('disco', (1, 2))

In [38]:
# Print element on each index, including nest indexes

print('Element 2, 0 of tuple: ', NestedT[2][0])
print('Element 2, 1 of tuple: ', NestedT[2][1])
print('Element 3, 0 of tuple: ', NestedT[3][0])
print('Element 3, 1 of tuple: ', NestedT[3][1])
print('Element 4, 0 of tuple: ', NestedT[4][0])
print('Element 4, 1 of tuple: ', NestedT[4][1])

Element 2, 0 of tuple:  pop
Element 2, 1 of tuple:  rock
Element 3, 0 of tuple:  3
Element 3, 1 of tuple:  4
Element 4, 0 of tuple:  disco
Element 4, 1 of tuple:  (1, 2)

In [39]:
# Print the first element in the second nested tuples

print(NestedT[2][1][0])

r

In [41]:
# Print the second element in the second nested tuples

print(NestedT[2][1][1])

o

In [44]:
# Print the first element in the second nested tuples

print(NestedT[4][1][0])

1

In [45]:
# Print the second element in the second nested tuples

print(NestedT[4][1][1])

2

In [46]:
# QUIZ ON TUPLES

In [47]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')