In [1]:
# LISTS IN PYTHON

In [2]:
# Create a list

L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [6]:
# Print the elements on each index

print('the same element using negative and positive indexing:\n Positive: ', L[0], '\n Negative: ', L[-3])
print('the same element using negative and positive indexing:\n Positive: ', L[1], '\n Negative: ', L[-2])
print('the same element using negative and positive indexing:\n Positive: ', L[2], '\n Negative: ', L[-1])

the same element using negative and positive indexing:
 Positive:  Michael Jackson
 Negative:  Michael Jackson
the same element using negative and positive indexing:
 Positive:  10.1
 Negative:  10.1
the same element using negative and positive indexing:
 Positive:  1982
 Negative:  1982

In [7]:
# LIST CONTENT

# Sample List

["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

In [10]:
# LIST OPERATIONS

# Sample List

L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [11]:
# List slicing

L[3:5]

['MJ', 1]

In [14]:
# Extend Method

L = [ "Michael Jackson", 10.2]
L

['Michael Jackson', 10.2]

In [15]:
# Use extend to add elements to list

L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [16]:
len(L)

4

In [17]:
# Use append to add elements to list

L.append(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10, ['pop', 10]]

In [18]:
len(L)

5

In [19]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [20]:
len(L)

4

In [21]:
# Use append to add elements to list

L.append(['a','b'])
L

['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]

In [22]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [23]:
# Delete the element based on the index

print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

In [24]:
# Split the string, default is by space

'Hard Rock'.split()

['Hard', 'Rock']

In [25]:
# Split the string by comma

'ABCDE'

'ABCDE'

In [28]:
'A,B,C,D,E'.split(',')

['A', 'B', 'C', 'D', 'E']

In [31]:
# COPY AND CLONE LISTS

# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
B

['hard rock', 10, 1.2]

In [33]:
print('A', A)
print('B', B)

A ['hard rock', 10, 1.2]
B ['hard rock', 10, 1.2]

In [34]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

In [35]:
B

['banana', 10, 1.2]

In [37]:
print('New B: ', B)

New B:  ['banana', 10, 1.2]

In [38]:
# Clone (clone by value) the list A

B = A[:]
B

['banana', 10, 1.2]

In [42]:
# Now if you change A, B will not change

print('B[0]:', B[0])
A[0] = "hard rock"
print('A[0]:', A[0])
print('B[0]:', B[0])

B[0]: banana
A[0]: hard rock
B[0]: banana