# Function practice

In [7]:
# First function example: Add 1 to a and store as b

def add(a):
    b = a + 1
    print(a, "if you add one", b)
    return(b)

In [2]:
# test the first function

add(34)

34 if you add one 35

35

In [3]:
# Get a help on add function

help(add)

Help on function add in module __main__:

add(a)

In [8]:
# Put an help text before the body to test the command help(add)

def add(a):
    """
    add 1 to a
    """
    b = a + 1
    print(a, "if you add one", b)
    return(b)

In [9]:
# Get a help on add function

help(add)

Help on function add in module __main__:

add(a)
    add 1 to a

In [4]:
# Call the function add()

add(1)

1 if you add one 2

2

In [5]:
# Call the function add()

add(2)

2 if you add one 3

3

In [10]:
# Define a function for multiple two numbers

def Mult(a, b):
    c = a * b
    return(c)

In [11]:
# Use mult() multiply two integers

Mult(3, 7)

21

In [12]:
# Define a function for multiply two numbers

def Mult(a, b):
    """
    Multiply a times b
    """
    c = a * b
    return(c)

In [13]:
help(Mult)

Help on function Mult in module __main__:

Mult(a, b)
    Multiply a times b

In [14]:
# Use mult() multiply two floats

Mult(10.0, 3.14)

31.400000000000002

In [15]:
# Use mult() multiply two different type values together

Mult(2, "Michael Jackson ")

'Michael Jackson Michael Jackson '

In [16]:
# Use mult() multiply two different type values together

Mult(2, "Hey babes ")

'Hey babes Hey babes '

In [ ]:
# # Remember the shotcut to convert text into comments: command + forwardslash (/)

# # example 1

# # example 2

# example 3

In [1]:
# Remember the shortcut to open available functions menus (lst + . + tab)

lst = [1, 2, 3, 4]
lst.clear

### Variables

In [4]:
# Function Definition

def square(a):
    
    # Local variable b
    b = 1
    c = a * a + b
    print(a, "if you square + 1 =", c) 
    return(c)

In [5]:
square(3)

3 if you square + 1 = 10

10

In [7]:
# Initializes Global variable  

x = 2
# Makes function call and return function a y
y = square(x)
y

2 if you square + 1 = 5

5

In [8]:
# Directly enter a number as parameter

square(2)

2 if you square + 1 = 5

5

In [9]:
y

5

In [10]:
x

2

In [11]:
# Define functions, one with return value None and other without return value

def MJ():
    print('Michael Jackson')
    
def MJ1():
    print('Michael Jackson')
    return(None)

In [12]:
MJ()

Michael Jackson

In [13]:
MJ1()

Michael Jackson

In [14]:
# See what functions returns are

print(MJ())
print(MJ1())

Michael Jackson
None
Michael Jackson
None

In [15]:
print(MJ())

Michael Jackson
None

In [16]:
# Define the function for combining strings

def con(a, b):
    return(a + b)

In [17]:
# Test on the con() function

con("This ", "is")

'This is'

In [18]:
# a and b calculation block1

a1 = 4
b1 = 5
c1 = a1 + b1 + 2 * a1 * b1 - 1
if(c1 < 0):
    c1 = 0 
else:
    c1 = 5
c1

5

In [23]:
a3 = 4
b3 = 5
c3 = a3 + b3 + 2 * a3 * b3 - 1
c3

48

In [24]:
# a and b calculation block2

a2 = 0
b2 = 0
c2 = a2 + b2 + 2 * a2 * b2 - 1
if(c2 < 0):
    c2 = 0 
else:
    c2 = 5
c2

0

In [26]:
a4 = 0
b4 = 0
c4 = a4 + b4 + 2 * a4 * b4 - 1
c4

-1

In [27]:
# Make a Function for the calculation above

def Equation(a,b):
    c = a + b + 2 * a * b - 1
    if(c < 0):
        c = 0 
    else:
        c = 5
    return(c)

In [31]:
a1 = 4
b1 = 5
c1 = Equation(a1, b1)
c1

5

In [33]:
a2 = 0
b2 = 0
c2 = Equation(a2, b2)
c2

0

### Pre-defined functions

In [38]:
# Print the list using for loop

def PrintList(lista):
    for element in lista:
        print(element)

In [45]:
PrintList([1, 1, 'teste', "teste2", "the man"])

1
1
teste
teste2
the man

### Global Variables

In [46]:
# Example of global variable

artist = "Michael Jackson"
def printer1(artist):
    internal_var = artist
    print(artist, "is an artist")
    
printer1(artist)

Michael Jackson is an artist

In [47]:
# If we print internal_var we get an error

printer1(internal_var)

NameError: name 'internal_var' is not defined

In [75]:
# Example of global variable

artist = "Michael Jackson"
def printer1(artist):
    internal_var = artist
    print(artist, "is an artist")
    
printer1(artist)

Michael Jackson is an artist

In [76]:
printer1(internal_var)

Whitney Houston is an artist

In [77]:
print(artist)

Michael Jackson

In [78]:
print(internal_var)

Whitney Houston

In [73]:
artist = "Michael Jackson"

def printer(artist):
    global internal_var1 
    internal_var1= "Whitney Houston"
    print(artist,"is an artist")

printer(artist) 
printer(internal_var1)

Michael Jackson is an artist
Whitney Houston is an artist

In [52]:
artist

'Michael Jackson'

In [74]:
internal_var1

'Whitney Houston'

In [82]:
artist = "Michael Jackson"
artist1 = "Jopel"
example = "Pitinho"

def printer(artist):
    global internal_var 
    internal_var= "Whitney Houston"
    print(artist,"is an artist")

printer(artist) 
printer(internal_var)
printer(artist1)
printer(example)

Michael Jackson is an artist
Whitney Houston is an artist
Jopel is an artist
Pitinho is an artist

In [61]:
artist2 = "Muse"

def printer2(artist):
    internal_var2 = "Bush"
    print(artist,"is an artist")

printer2(artist2) 
printer2(internal_var2)

Muse is an artist

NameError: name 'internal_var2' is not defined

In [62]:
artist2

'Muse'

In [63]:
internal_var2

NameError: name 'internal_var2' is not defined

In [79]:
# Example of global variable 2 (part 1 of 3)

artist9 = "Jopel"
def printer9(artist9):
    internal_var9 = artist9
    print(artist, "is an artist")
    
printer9(artist9)

Michael Jackson is an artist

In [80]:
print(artist9)

Jopel

In [81]:
print(internal_var9)

NameError: name 'internal_var9' is not defined

In [90]:
# Example of global variable 2 (part 2 of 3)

artist10 = "Jeronimo"
def printer10(artist10):
    internal_var10 = "Gertrudes"
    print(artist10, "is an artist")
    
printer10(artist10)
print(artist10)
printer10(internal_var10)

Jeronimo is an artist
Jeronimo

NameError: name 'internal_var10' is not defined

In [91]:
# Example of global variable 2 (part 3 of 3)

artist10 = "Jeronimo"
def printer10(artist10):
    global internal_var10 
    internal_var10 = "Gertrudes"
    print(artist10, "is an artist")
    
printer10(artist10)
print(artist10)
printer10(internal_var10)

Jeronimo is an artist
Jeronimo
Gertrudes is an artist